body{
background:#020617;
color:white;
font-family:Poppins;
}

/* HERO */
.page-hero{
padding:120px 10% 60px;
text-align:center;
background:linear-gradient(180deg,#020617,#050b25);
}

.page-hero h1{
color:#00ff99;
font-size:48px;
}

/* GRID */
.blog-grid{
padding:60px 10%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.blog-card{
background:#050b25;
padding:30px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.6);
transition:0.3s;
}

.blog-card:hover{
transform:translateY(-8px);
}

.blog-card h3{
color:#00ff99;
margin-bottom:10px;
}

.blog-card p{
color:#ccc;
margin-bottom:20px;
}

.blog-card a{
background:#00ff99;
color:black;
padding:10px 25px;
border-radius:25px;
text-decoration:none;
font-weight:600;
}
body{
margin:0;
padding-top:80px;
}
