body{
background:#050a1e;
font-family:Arial, sans-serif;
}

.forgot-container{
width:400px;
margin:100px auto;
padding:30px;
background:#0b122f;
border-radius:10px;
box-shadow:0 0 15px rgba(0,255,153,0.4);
color:white;
text-align:center;
}

.forgot-container h2{
margin-bottom:10px;
color:#00ff99;
}

.forgot-container p{
font-size:14px;
margin-bottom:20px;
}

.forgot-container input{
width:100%;
padding:12px;
border-radius:6px;
border:1px solid #ccc;
margin-bottom:10px;
font-size:15px;
}

.forgot-container button{
width:100%;
padding:12px;
background:#00ff99;
border:none;
border-radius:6px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

.forgot-container button:hover{
background:#00cc7a;
}

.error{
color:red;
font-size:14px;
}

.success{
color:#00ff99;
font-size:14px;
}
body{
margin:0;
padding-top:80px;
}
