/* TRAINER GRID */
.trainer-grid{
padding:60px 10%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

/* CARD */
.trainer-card{
background:#050b25;
padding:25px;
border-radius:15px;
text-align:center;
box-shadow:0 0 15px rgba(0,0,0,0.6);
transition:0.3s;
display:flex;
flex-direction:column;
}

.trainer-card:hover{
transform:translateY(-8px);
}

/* IMAGE */
.trainer-card img{
width:100%;
height:280px;
object-fit:cover;
border-radius:12px;
margin-bottom:15px;
}

/* TEXT */
.trainer-card h3{
color:#00ff99;
margin-bottom:8px;
}

.trainer-card p{
color:#ccc;
margin-bottom:20px;
}

/* BUTTON */
.trainer-card a{
margin-top:auto;
padding:10px 25px;
background:#00ff99;
color:black;
border-radius:25px;
text-decoration:none;
font-weight:600;
}

.trainer-card a:hover{
background:white;
}
body{
margin:0;
padding-top:80px;
}
