body{
background:#020617;
font-family:Poppins;
color:white;
}

/* HERO */
.plan-hero{
padding:120px 10% 60px;
text-align:center;
background:linear-gradient(180deg,#020617,#050b25);
}

.plan-hero h1{
font-size:48px;
color:#00ff99;
}

.plan-hero p{
color:#ccc;
}

/* CONTENT */
.plan-content{
padding:60px 10%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.plan-box{
background:#050b25;
padding:30px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.plan-box h3{
color:#00ff99;
margin-bottom:15px;
}

.plan-box ul{
padding-left:20px;
}

.plan-box li{
margin-bottom:10px;
color:#ccc;
}

/* BUTTON */
.join-btn{
margin-top:40px;
text-align:center;
}

.join-btn a{
padding:12px 35px;
background:#00ff99;
color:black;
border-radius:30px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.join-btn a:hover{
background:white;
}
body{
margin:0;
padding-top:80px;
}
