body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
}
/* ===== LOGO ===== */

.logo{
    font-size: 35px;
    font-weight: 700;
    color: #00ff99;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0,255,153,0.6);
}
.logo span{
color:white;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    background: rgba(0, 6, 30, 0.869);
    color: white;
    padding-top: 20px;
    position: fixed;
    width: 240px;
    box-shadow: 0 0 40px rgba(0, 255, 153, 0.932);

}

.sidebar a {
    color: #cfd8dc;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color:rgb(1, 101, 1);
    color: #fff;
}

/* Main Content */
.main-content {
    margin-left: 240px;
    padding: 20px;
    background-color:#faf8f8;
}

/* Topbar */
.topbar {
    background:#101c50;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Cards */
.dashboard-card {
    border-radius: 15px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Footer */
.footer {
    margin-left: 240px;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ddd;
}
.circle-wrap {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}

.mask, .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.mask.full, .circle .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #198754;
  transform: rotate(144deg); /* 80% progress */
}

.inside-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  line-height: 120px;
  text-align: center;
  margin: 15px;
  position: absolute;
  font-weight: bold;
  font-size: 22px;
}
/* Profile Card */
.profile-card{
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.profile-img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0072ff;
}

.badge-membership{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 20px;
}

.progress{
    height: 20px;
    border-radius:10px;
}

.profile-mini{
    display:flex;
    align-items:center;
    gap:15px;
}

.profile-mini img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.progress-bar{
    border-radius:10px;
}
.welcome-box{
    background:white;
    border-radius:20px;
    padding:25px 35px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}
.stat-number{
    font-size:24px;
    font-weight:600;
}
.section-title{
    font-weight:600;
    margin-bottom:15px;
}
/* ===== FOOTER ===== */

.footer{
background:linear-gradient(180deg,#0b1649,#5f678b);
padding:90px 10% 30px;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
}

.footer-box h2{
font-size:36px;
color:#00ff99;
margin-bottom:15px;
}

.footer-box h4{
margin-bottom:15px;
color:white;
}

.footer-box a{
display:block;
color:#ccc;
text-decoration:none;
margin-bottom:10px;
transition:0.3s;
}

.footer-box a:hover{
color:#00ff99;
padding-left:6px;
}

.footer-bottom{
text-align:center;
margin-top:50px;
padding-top:20px;
border-top:1px solid #222;
color:#888;
}
.footer-box p{
color:#ccc;
margin-bottom:10px;
}
.footer-box h4{
margin-bottom:15px;
color:white;
font-size:20px;
}

.footer-box p,
.footer-box a{
color:#ccc;
font-size:15px;
}

